<div id="toggle" (click)="toggleNav()" [class.toggled]="navToggle === true">
  <ul>
    <li>
      <a href="#" >
        <span class="line l1"></span>
        <span class="line l3"></span>
      </a>
    </li>
  </ul>
</div>

<section id="full-screen-nav" class="panel" [class.active]="navToggle === true">
  <nav id="nav">
    <ul>
      <li class="nav-item" (click)="toggleNav()">
        <a pageScroll href="#first-section">First Section
          <span class="desc">
            This is a a description one.
          </span>
        </a>
      </li>
      <li class="nav-item" (click)="toggleNav()">
        <a pageScroll href="#second-section">Second Section
          <span class="desc">
            An example how you can integrate a video.
          </span>
        </a>
      </li>
      <li class="nav-item" (click)="toggleNav()">
        <a pageScroll href="#third-section">Third Section
          <span class="desc">
            This is a a description three.
          </span>
        </a>
      </li>
      <li class="nav-item" (click)="toggleNav()">
        <a pageScroll href="#map-section">Contact
        <span class="desc">
          Come here and we come here and we can take a coffee together!
        </span>
        </a>
      </li>
    </ul>
  </nav>
</section>

